.shop {
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.product-area {
    margin: 120px 104px;
}

.cart-area {
    background-color: #FFE0B3;
}

.cart-container {
    margin: 28px 23px 0px 23px;
}

.cart-info {
    margin-top: 50px;
}

.cart-info p {
    margin-bottom: 25px;
}

.cart-button {
    margin-top: 57px;
}

.cart-button button {
    margin-bottom: 16px;
}

.btn-clear-cart {
    height: 48px;
    width: 232px;
    color: white;
    background-color: #FF3030;
}

.btn-review-order {
    height: 48px;
    width: 232px;
    color: white;
    background-color: #FF9900;
}