.shop {
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.product-area {
    margin: 108px 50px;
}

.cart-area {
    background-color: #FFE0B3;
    width: auto;
}

.product-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.pagination {
    text-align: center;
    margin-top: 100px;
}

.pagination-btn {
    font-size: large;
    padding: 10px;
    margin: 4px;
}

.pagination-btn:hover {
    background-color: orange;
}

.page-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.selected {
    background-color: orange;
    font-size: large;
    padding: 10px;
    margin: 4px;
}