.shop {
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.product-area {
    margin: 120px 104px;
}

.cart-area {
    background-color: #FFE0B3;
}

.product-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
}