.cart-container {
    padding: 28px 23px;
    background-color: #FFE0B3;
    position: fixed;
}

.cart-info {
    margin-top: 50px;
}

.cart-info p {
    margin-bottom: 25px;
}

.cart-button {
    margin-top: 57px;
}

.cart-button button {
    margin-bottom: 16px;
}

.btn-clear-cart {
    height: 48px;
    width: 232px;
    color: white;
    background-color: #FF3030;
}

.btn-review-order {
    height: 48px;
    width: 232px;
    color: white;
    background-color: #FF9900;
}