* {
    margin: 0;
    padding: 0;
}

.nav-bar {
    height: 80px;
    background-color: #1C2B35;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-logo {
    margin-left: 112px;
}

.nav-link {
    margin-right: 97px;
}

.nav-link a {
    text-decoration: none;
    color: white;
    margin-left: 32px;
}